@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
}

@tailwind components;
@tailwind utilities;

*{
    transition: all 0.3s ease-in-out;
}

/* src/styles/globals.css or appropriate CSS file */
.range-slider {
    position: relative;
    height: 6px;
}

.range-slider input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
}

.range-slider .range-min {
    position: absolute;
    pointer-events: none; /* Prevent pointer events to allow clicks on the track */
    z-index: 2; /* Ensure the min handle is above the track */
}

.range-slider .range-max {
    position: absolute;
    pointer-events: none; /* Prevent pointer events to allow clicks on the track */
    z-index: 1; /* Ensure the max handle is below the track */
}

.range-slider .slider-track {
    position: absolute;
    height: 6px;
    background: #d3d3d3;
    border-radius: 3px;
    top: 0;
    left: var(--min-percent);
    right: calc(100% - var(--max-percent));
}

